/* Fonts used : Bebas Neue, Poppins */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  /* Light theme by default */
  --text-color: #18212b;
  --bg-color: #f5f7fa;
  --accent-color: #57bcff;
  --hover-color: #0099df;
  --second-accent: #ff9a57;
  --card-bg: #ffffff;
  --card-text: #18212b;
  --card-border: #d1d5db;
}

[data-theme="dark"] {
  --text-color: #ecf0f1;
  --bg-color: #1a252f;
  --accent-color: #0d4372;
  --hover-color: #3494e8;
  --second-accent: #7e3200;
  --card-bg: #1e2a38;
  --card-text: #ecf0f1;
  --card-border: #4b5563;
}

body {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
}

header {
  background-color: var(--accent-color);
  color: var(--text-color);
}

header h1 {
  font-family: "Bebas Neue", sans-serif;
}

